In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("IRIS.csv")

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [9]:
df['%'] = 100 * df['sepal_length'] / df.groupby('species')['sepal_length'].transform('sum')
df['%'] = 100 * df['sepal_width'] / df.groupby('species')['sepal_width'].transform('sum')
df['%'] = 100 * df['petal_length'] / df.groupby('species')['petal_length'].transform('sum')
df['%'] = 100 * df['petal_width'] / df.groupby('species')['petal_width'].transform('sum')

In [10]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,%
0,5.1,3.5,1.4,0.2,Iris-setosa,1.639344
1,4.9,3.0,1.4,0.2,Iris-setosa,1.639344
2,4.7,3.2,1.3,0.2,Iris-setosa,1.639344
3,4.6,3.1,1.5,0.2,Iris-setosa,1.639344
4,5.0,3.6,1.4,0.2,Iris-setosa,1.639344
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,2.270484
146,6.3,2.5,5.0,1.9,Iris-virginica,1.875617
147,6.5,3.0,5.2,2.0,Iris-virginica,1.974334
148,6.2,3.4,5.4,2.3,Iris-virginica,2.270484
149,5.9,3.0,5.1,1.8,Iris-virginica,1.776900

In [11]:
df.sum()

sepal_length                                                876.5
sepal_width                                                 458.1
petal_length                                                563.8
petal_width                                                 179.8
species         Iris-setosaIris-setosaIris-setosaIris-setosaIr...
%                                                           300.0
dtype: object

In [12]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width           %
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.054000      3.758667     1.198667    2.000000
std        0.828066     0.433594      1.764420     0.763161    0.554424
min        4.300000     2.000000      1.000000     0.100000    0.819672
25%        5.100000     2.800000      1.600000     0.300000    1.639344
50%        5.800000     3.000000      4.350000     1.300000    1.960784
75%        6.400000     3.300000      5.100000     1.800000    2.262443
max        7.900000     4.400000      6.900000     2.500000    4.918033

In [15]:
import csv
def fmean(IRIS, sepal_width):
    total = 0
    count = 0
    with open(IRIS, 'r') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            total += float(row[sepal_width])
            count+=1
        if count == 0:
            return 0
        else:
            return total/count

In [16]:
my_mean = fmean('IRIS.csv', 'sepal_width')
print(my_mean)

3.0540000000000007

In [19]:
import csv
def fmedian(IRIS, sepal_width):
    values = []
    with open(IRIS, 'r') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            values.append(float(row[sepal_width]))
    n = len(values)
    num = sorted(values)
    if n%2 == 0:
        median1 = num[n//2]
        median2 = num[n//2-1]
        median = (median1 + median2) / 2
    else:
        median = num[n//2]
    return median

In [20]:
my_median = fmedian('IRIS.csv', 'sepal_width')
print(my_median)

3.0

In [21]:
import csv
import statistics
def fmode(IRIS, sepal_width):
    values = []
    with open(IRIS, 'r') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            values.append(float(row[sepal_width]))
        try:
            mode = statistics.mode((values))
        except statistics.StatisticsError:
            mode = None
        return mode

In [22]:
my_mode = fmode('IRIS.csv', 'sepal_width')
print(my_mode)

3.0

In [23]:
import csv
import statistics
def fvariance(IRIS, sepal_width):
    values = []
    with open(IRIS, 'r') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            values.append(float(row[sepal_width]))
        variance = statistics.variance(values)
        return variance

In [24]:
my_variance = fvariance('IRIS.csv', 'sepal_width')
print(my_variance)

0.18800402684563758